'welcome':
  'showOnStartup': false
'editor':
  'invisibles': {}
  'fontSize': 14
'core':
  'themes': [
    'seti-ui'
    'seti-syntax'
  ]
  'projectHome': '~/workspace'
  'ignoredNames': [
    '.git'
    'target'
    '.DS_Store'
    '.idea'
  ]
  'disabledPackages': [
    'language-php'
    'metrics'
  ]
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
'linter-rust':
  'Executable path': '/usr/local/bin/cargo'
'autosave':
  'enabled': true
'autocomplete-plus':
  'enableAutoActivation': false
